{% extends "../../tugas2/layout/base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
</head>
<style type="text/css">
</style>
<body>
<header>
    
</header>
<content>
    {% block content %}
    <!-- Your Content Here -->
    {% endblock %}
</content>
<footer>
    {% block footer %}
    {% endblock %}
</footer>
</body>
</html>