/*======================================== CUSTOM MADE ========================================*/
.main .login_pages{
  text-align: center;
  font-weight: bold;
  color: #fff;
}

.login_pages:nth-child(2) {
    background: #f1c40f;
}

.login_pages:nth-child(2) h1, .login_pages:nth-child(3) h1{
  margin-top: -40px;
}

.login_pages:nth-child(3) {
    background: #9b59b6;
}

.login_pages:nth-child(4) {
    background: #ecf0f1;
}
.login_pages:first-child {
    background: #FA8072;
    margin-top: 40px;
}

.login_pages h1:first-child {
  padding-top: 22%;
}

.login_pages:first-child img, .login_pages:nth-child(2) > img{
  width: 50px;
  height: 50px;
  opacity: 0.15;
}

/* JOB LISTINGS */
.row-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  overflow: auto;
  padding-top: 12%;
}

.company-detail{
  position: relative;
  padding: 0 15px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 50%;
}

@media only screen and (max-width: 768px){
  .company-detail{
    position: relative;
    padding: 0 15px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
  }
}


.company-detail img{
    height: 200px;
    width: 200px;
}


/*============================================================================================*/

body, html {
  margin: 0;
  overflow: hidden;
  -webkit-transition: opacity 400ms;
  -moz-transition: opacity 400ms;
  transition: opacity 400ms;
}

body, .onepage-wrapper, html {
  display: block;
  position: static;
  padding: 0;
  width: 100%;
  height: 100%;
}

.onepage-wrapper {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  padding: 0;
  -webkit-transform-style: preserve-3d;
}

.onepage-wrapper .section {
  width: 100%;
  height: 100%;
}

.onepage-pagination {
  position: absolute;
  right: 10px;
  top: 50%;
  z-index: 5;
  list-style: none;
  margin: 0;
  padding: 0;
}
.onepage-pagination li {
  padding: 0;
  text-align: center;
}
.onepage-pagination li a{
  padding: 10px;
  width: 4px;
  height: 4px;
  display: block;
  
}
.onepage-pagination li a:before{
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  background: rgba(0,0,0,0.85);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.onepage-pagination li a.active:before{
  width: 10px;
  height: 10px;
  background: none;
  border: 1px solid black;
  margin-top: -4px;
  left: 8px;
}

.disabled-onepage-scroll, .disabled-onepage-scroll .wrapper {
  overflow: auto;
}

.disabled-onepage-scroll .onepage-wrapper .section {
  position: relative !important;
  top: auto !important;
  left: auto !important;
}
.disabled-onepage-scroll .onepage-wrapper {
  -webkit-transform: none !important;
  -moz-transform: none !important;
  transform: none !important;
  -ms-transform: none !important;
  min-height: 100%;
}


.disabled-onepage-scroll .onepage-pagination {
  display: none;
}

body.disabled-onepage-scroll, .disabled-onepage-scroll .onepage-wrapper, html {
  position: inherit;
}