{% extends "fitur_1/layout/base.html" %}
{% block content %}

<head>
  <title>Log In with LinkedIn</title>
  <script type="text/javascript" src="//platform.linkedin.com/in.js">
      api_key: 81r7kes16gs6cg
      authorize: true
      onLoad: onLinkedInLoad
      scope: r_basicprofile r_emailaddress
  </script>

  <script type="text/javascript">
    // Setup an event listener to make an API call once auth is complete
    function onLinkedInLoad() {
        IN.Event.on(IN, "auth", getProfileData);
    }
    
    // Use the API call wrapper to request the member's profile data
    function getProfileData() {
        IN.API.Profile("me").fields("id", "first-name", "last-name", "headline", "location", "picture-url", "public-profile-url", "email-address").result(displayProfileData).error(onError);
    }

    // Handle the successful return from the API call
    function displayProfileData(data){
        var user = data.values[0];
        document.getElementById("picture").innerHTML = '<img src="'+user.pictureUrl+'" />';
        document.getElementById("name").innerHTML = user.firstName+' '+user.lastName;
        document.getElementById("intro").innerHTML = user.headline;
        document.getElementById("email").innerHTML = user.emailAddress;
        document.getElementById("location").innerHTML = user.location.name;
        document.getElementById("link").innerHTML = '<a href="'+user.publicProfileUrl+'" target="_blank">Visit profile</a>';
        document.getElementById('profileData').style.display = 'block';
    }

    // Handle an error response from the API call
    function onError(error) {
        console.log(error);
    }
    
    // Destroy the session of linkedin
    function logout(){
        IN.User.logout(removeProfileData);
    }
    
    // Remove profile data from page
    function removeProfileData(){
        document.getElementById('profileData').remove();
    }
  </script>
</head>
<body data-hijacking="off" data-animation="scaleDown">
  <!--PROFILE SECTION - SOON TO BE DELETED -->
  <div id="profileData" style="display: none;">
    <p><a href="javascript:void(0);" onclick="logout()">Logout</a></p>
    <div id="picture"></div>
    <div class="info">
        <p id="name"></p>
        <p id="intro"></p>
        <p id="email"></p>
        <p id="location"></p>
        <p id="link"></p>
    </div>
  </div>

  <section class="cd-section visible">
  <div>
    <h2>Page Scroll Effects</h2>
  </div>
</section>
 
<section class="cd-section">
  <div>
    <h2>Section 2</h2>
  </div>
</section>
 
<section class="cd-section">
  <h2><script type="in/Login"></script></h2>
</section>
 
<nav>
  <ul class="cd-vertical-nav">
    <li><a href="#0" class="cd-prev inactive">Next</a></li>
    <li><a href="#0" class="cd-next">Prev</a></li>
  </ul>
</nav> <!-- .cd-vertical-nav -->

</body>

{% endblock %}
