{% extends "fitur_1/layout/base.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}

<head>
  <title>Log In with LinkedIn</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/onepage-scroll.css' %}" />
</head>
<body >
  <!--PROFILE SECTION - SOON TO BE DELETED -->
  <div class="main" id="all">
    <section class="login_pages"><h2>Welcome to ......</h2></section>
    <section class="login_pages"><h2>Find your dream jobs and seek out opportunities!</h2></section>
    <section class="login_pages"><h2><script type="in/Login"></script></h2></section>
    <!--<section class="cd-section visible">
    <div class="text-content">
      <h2>Page Scroll Effects</h2>
      <img src="https://upload.wikimedia.org/wikipedia/commons/9/9d/Arrow-down.svg"/>
    </div>
  </section>
   
  <section class="cd-section">
    <div class="text-content">
      <h2>Section 2</h2>
       <img src="https://upload.wikimedia.org/wikipedia/commons/9/9d/Arrow-down.svg"/>
    </div>
  </section>
   
  <section class="cd-section">
    <div class="text-content">
      <h2><script type="in/Login"></script></h2>
    </div>
  </section>-->
</div>
</body>

{% endblock %}
