{% extends "fitur_1/layout/base.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}

<head>
  <title>Log In with LinkedIn</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/onepage-scroll.css' %}" />
</head>
<body >
  <!--PROFILE SECTION - SOON TO BE DELETED -->
  <div id="all"> 
    <div id="profileData" style="display: none;">
      <p><a href="javascript:void(0);" onclick="logout()">Logout</a></p>
      <div id="picture"></div>
      <div class="info">
        <p id="name"></p>
        <p id="intro"></p>
        <p id="email"></p>
        <p id="location"></p>
        <p id="link"></p>
      </div>
      </div>
  </div>
  <div class="main" id="loginPage">
    <section class="login_pages">
      <h1>Welcome!</h1>
      <h3>Find your dream jobs and seek out opportunities here.</h3>
      <img src="https://image.flaticon.com/icons/svg/25/25623.svg"/>
    </section>
    <section class="login_pages job_listings">
      <div class="row-list">
        <div class="company-detail">
            <img src="http://www.stickpng.com/assets/images/580b57fcd9996e24bc43c53e.png"/>
            <h2>Twitter</h2>
            <h4 style="text-transform: uppercase; letter-spacing: 4px;"> LATEST JOB LISTINGS: </h4>
            <ol>
                <li> Software Engineer </li> 
                <li> Web Developer </li>
                {% include "fitur_4/fitur_4.html" %}
            </ol>            
        </div>
        <div class="company-detail">
            <img src="https://www.shareicon.net/download/2015/09/12/99766_skype_512x512.png"/>
            <h2>Skype</h2>
            <h4 style="text-transform: uppercase; letter-spacing: 4px;"> LATEST JOB LISTINGS: </h4>
            <ol>
                <li> Software Engineer II </li> 
                <li> Network Security Engineer </li>
                {% include "fitur_4/fitur_4.html" %}
            </ol>

        </div>
      </div>  
      <img src="https://image.flaticon.com/icons/svg/25/25623.svg"/>
    </section>
    <section class="login_pages">
      <h1> Sign in with LinkedIn now to get started! </h1>
      <h3><script type="in/Login"></script></h3>
    </section>
    <!--<section class="cd-section visible">
    <div class="text-content">
      <h2>Page Scroll Effects</h2>
      <img src="https://upload.wikimedia.org/wikipedia/commons/9/9d/Arrow-down.svg"/>
    </div>
  </section>
   
  <section class="cd-section">
    <div class="text-content">
      <h2>Section 2</h2>
       <img src="https://upload.wikimedia.org/wikipedia/commons/9/9d/Arrow-down.svg"/>
    </div>
  </section>
   
  <section class="cd-section">
    <div class="text-content">
      <h2><script type="in/Login"></script></h2>
    </div>
  </section>-->
</div>

<script type="text/javascript" src="{% static 'js/login.js' %}"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $(".main").onepage_scroll({
      dotstyle: "fillup",
      sectionContainer: "section",
      responsiveFallback: 600,
      loop: true
    });
  });
</script>
</body>
{% endblock %}
