{% extends "fitur_2/layout/base.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/onepage-scroll.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/component.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/fitur_2.css' %}" />
</head>
<div class="wrapper">
 <div class="main">
    <section class="page1">
       <div class="page_container">
          <div id="home">
            <div class="this-is">
              THIS IS
            </div>
            <div class="get-name">
              {{ name }}
            </div>

            <div class="buttons">
              <a href="{% url 'fitur-3:index' %}" class="ghost-button">Lihat Forum</a>
              <a href="#" class="ghost-button">Cari Mahasiswa</a>
            </div>
          </div>
     </div>
    </section>

    <section class="page2">
      <div class="page_container">
         <div id="about">
            <div class="about-label section-title">
               |About
            </div>
            <div class="about-content">
              <div class="pic-name">
                  <div id="get-pic">
                     <img src='{{ logo_url }}'>
                  </div>
              </div>
              <div class="about-text">
                  <div class="get-name">
                     {{ name }}
                  </div>
                  <div class="get-company-type">
                    a {{ com_type }} company
                  </div>
                  <div class="description">
                    {{ desc }}
                  </div>
              </div>
            </div>
         </div>
      </div>
    </section>

    <section class="page3">
       <div class="page_container">
          <div id="specialities">
            <div class="specialities-label section-title">
               |Specialities
            </div>
            <div class="specialities-container">
              {{specialities}}
            </div>
         </div>
      </div>
    </section>

    <section class="page4">
      <div class="page_container section-title">
        <div id="contact">
          <div class="contact-label section-title">
            |Contact
          </div>
          <div class="contact-container">
            <div class="visit-label">
              MEET US AT
            </div>
            <div class="loc">
              <img src="https://cdn.iconscout.com/public/images/icon/premium/png-512/company-adress-office-location-3b83c14ad48950c8-512x512.png">
            </div>
            <div class="address">
              {{ address }}
            </div>
            <div class="visit-label">
              OR VISIT OUR WEBSITE
            </div>
            <a class="ghost-button" href="#">{{ website }}</a>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<script src="https://code.jquery.com/jquery-2.1.4.js" integrity="sha256-siFczlgw4jULnUICcdm9gjQPZkw/YPDqhQ9+nAOScE4=" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'js/jquery.onepage-scroll.js' %}"></script>
<script src="{% static 'js/fitur_2.js' %}"></script>
<script type="text/javascript">
    $(document).ready(() => {
        $(".navigation-list").append(
            '<li><a onClick="logout()">Logout</a></li>'
        )
    })
</script>
{% endblock %}