{% extends "fitur_2/layout/base.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/onepage-scroll.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/component.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/fitur_2.css' %}" />
</head>
<div class="wrapper">
 <div class="main">
    <section class="page1">
       <div class="page_container">
          <div id="home">
            <div class="this-is">
              THIS IS
            </div>
            <div class="get-name">
              PPW C10
            </div>

            <div class="buttons">
              <a href="#" class="ghost-button">Lihat Forum</a>
              <a href="#" class="ghost-button">Cari Mahasiswa</a>
            </div>
          </div>
     </div>
    </section>

    <section class="page2">
      <div class="page_container">
         <div id="about">
            <div class="about-label">
               |About
            </div>
            <div class="about-content">
              <div class="pic-name">
                  <div id="get-pic">
                     <img src="https://upload.wikimedia.org/wikipedia/id/thumb/9/95/Makara_UI.png/200px-Makara_UI.png">
                  </div>
              </div>
              <div class="about-text">
                  <div class="get-name">
                     PPW C10
                  </div>
                  <div class="get-company-type">
                    a Self Employed company
                  </div>
                  <div class="description">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                  </div>
              </div>
            </div>
         </div>
      </div>
    </section>

    <section class="page3">
       <div class="page_container">
          <div id="specialities">
            <div class="specialities-label">
               |Specialities
            </div>
            <div class="specialities-container">
               <div id="child1">
                  satu
               </div>
               <div id="child1">
                  dua
               </div>
               <div id="child1">
                  tiga
               </div>
               <div id="child1">
                  empat
               </div>
               <div id="child1">
                  lima
               </div>
               <div id="child1">
                  enam
               </div>
            </div>
         </div>
      </div>
    </section>

    <section class="page4">
      <div class="page_container">
        <div id="contact">
          <div class="contact-label">
            |Contact
          </div>
          <div class="contact-container">
            <div class="visit-label">
              MEET US AT
            </div>
            <div class="loc">
              <img src="https://cdn.iconscout.com/public/images/icon/premium/png-512/company-adress-office-location-3b83c14ad48950c8-512x512.png">
            </div>
            <div class="address">
              Wisma 77 Tower 2 Lt. 20-22 Jl. S. Parman Kav. 77 Jakarta Barat, 11410 Indonesia
            </div>
            <div class="visit-label">
              OR VISIT OUR WEBSITE
            </div>
            <a class="ghost-button" href="#">linkedin.com</a>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
{% endblock %}