{% extends "../../tugas2/layout/base.html" %}
{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>PROFILE</title>
  <meta name="title" content="" />
  <meta name="description" content="Create a one page scroller website with awesome vertical dot navigation styles." />

  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Pacifico:400' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, minimum-scale=1, user-scalable=no">
</head>
<body>
   <header>
       {% include "fitur_2/partials/header.html" %}
   </header>
   <content>
           {% block content %}
                 <!-- content goes here -->
           {% endblock %}
   </content>
   <footer>
       <!-- TODO Block Footer dan include footer.html -->
       {% block footer %}
       {% include "fitur_2/partials/footer.html" %}
       {% endblock %}
   </footer>
   {% block javascript %}
       <script type="text/javascript" src="{% static 'js/onepage-scroll.js' %}"></script>
   {% endblock %}
</body>
</html>
