{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1">

		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<!-- BOOTSTRAP CSS // DO NOT REMOVE-->
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
		<script type="text/javascript" src="//platform.linkedin.com/in.js">
		      api_key: 81r7kes16gs6cg
		      authorize: true
		      onLoad: onLinkedInLoad
		      scope: r_basicprofile r_emailaddress
		</script>
	</head>
	<body>
		<header>
   			{% include "tugas2/partials/header.html" %}
		</header>
		<content>
			    {% block content %}
    			<!-- Your Content Here -->
    			{% endblock %}
		</content>
	<script src="https://code.jquery.com/jquery-2.1.4.js" integrity="sha256-siFczlgw4jULnUICcdm9gjQPZkw/YPDqhQ9+nAOScE4=" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="{% static 'js/jquery.onepage-scroll.js' %}"></script>
	<script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="{% static 'js/scroll.js' %}"></script>
<!-- jadiiiiiiiii scriptnya ngambil punya sheila karena methodnya sama, terus kalo scroll dimasukkin punya hseila jadi bagus punya gue jadi aneeh -->
	<script type="text/javascript">
		function logout(){
    IN.User.logout(removeProfileData);}


// Remove profile data from page
function removeProfileData(){
    window.location.assign("/fitur-1")
    $.ajax({
    method:"GET", url: 'fitur-1/remove-session/'
    })
}
	</script>
	</body>
</html>

